<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link rel="shortcut icon" href="~/img/icon.ico" type="image/x-icon">
    <h2>@ViewData["headText"]</h2>
</head>

<body>
    <!-- nav bar-->

    <nav>
        <a asp-controller="My" asp-action="Index">Home</a>
        <a asp-controller="My" asp-action="Calculator">Grade Calculator</a>
    </nav>

    <div>
        @RenderBody()
    </div>

    <!--script tags and links-->

    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/css/StyleSheet.css" rel="stylesheet" />

    <script src="~/lib/jquery/jquery-3.6.3.min.js"></script>

</body>

</html>