@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ <!-- Setting the text in the header with razor code-->
    ViewData["Title"] = "About Me";
    ViewData["headText"] = "Welcome to my page";
}

    <!--prefered name-->

<h1>Riley</h1>

<!--picture of me coding-->

<img src="img/IMG-1329.jpg" width="200" height="150" />
<br />
<br />

<!--my paragraph-->

<h4>What I hope to get out of this class:</h4>
<br />

<p>
    I hope that I can learn more general coding skills. I don't plan to be a software engineer or web developer, so I don't need to know C# super well. However,
    I hope to boost my overall understanding and general abilities in all coding languages.
</p>
<br />

<!--list of prefered jobs-->
<h4>My top three jobs:</h4>
<br />

<ol>
    <li>Marine Biologist</li>
    <li>Blimp Pilot</li>
    <li>Botonist</li>
</ol>
